@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #202020;
  color: white;
  padding: 0 10%;
}

.mask-gradient {
  mask-image: linear-gradient(to bottom, black 85%, transparent);
}